<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATM-Machine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home_style.css') }}">
</head>
<body>

    <nav class="navbar">
        <div class="navbar-container">
            <a href="{{ url_for('home') }}" class="navbar-logo animated-text">ATM Machine</a>
            <ul class="navbar-menu">
                <li><a href="{{ url_for('home') }}">HOME</a></li>
                {% if request.cookies.get('email') %}
                    <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">LOGIN</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    

    <div class="container">
        <h1>ATM Machine</h1>
        <div class="button-container">
            <a href="{{ url_for('create_user') }}" class="btn">Create Bank Account</a>
            <a href="{{ url_for('check_account', action='add_pin') }}" class="btn">Add PIN</a>
            <a href="{{ url_for('check_account', action='update_pin') }}" class="btn">Update PIN</a>
            <a href="{{ url_for('check_balance') }}" class="btn">Check Balance</a>
            <a href="{{ url_for('checkdetails', action='add_money') }}" class="btn">Add Money</a>
            <a href="{{ url_for('checkdetails', action='withdraw') }}" class="btn">Withdraw</a>
            <a href="{{ url_for('check_account', action='user_details') }}" class="btn">User Details</a>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-messages" id="popup-message">
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}


    <script>
        setTimeout(function() {
            var popups = document.querySelectorAll('.flash-messages');
            popups.forEach(function(popup) {
                popup.style.display = 'none';
            });
        }, 5000);
    </script>

</body>
</html>
