<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ATM Machine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}">
</head>
<body>

    <nav class="navbar">
        <div class="navbar-container">
            <a href="{{ url_for('home') }}" class="navbar-logo animated-text">ATM Machine</a>
            <ul class="navbar-menu">
                <li><a href="{{ url_for('home') }}">HOME</a></li>
            </ul>
        </div>
    </nav>

    <div class="form-container">
        <h2>Sign UP</h2>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name }}
                {% if form.name.errors %}
                    {% for error in form.name.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.email.label }}
                {{ form.email }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password.label }}
                {{ form.password }}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.confirm_password.label }}
                {{ form.confirm_password }}
                {% if form.confirm_password.errors %}
                    {% for error in form.confirm_password.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.submit() }}
            </div>
        </form>

        <div class="signup-container">
            <p>Account is alreaded created!</p>
            <a href="{{ url_for('login') }}" class="signup-link">Login</a>
        </div>

    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-messages" id="popup-message">
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
    {% endwith %}

    
    <script>
        setTimeout(function() {
            var popups = document.querySelectorAll('.flash-messages');
            popups.forEach(function(popup) {
                popup.style.display = 'none';
            });
        }, 5000);
    </script>

</body>
</html>
